{% extends 'base.html' %}

{% block title %}streaming{% endblock %}

{%block head%} 

{%endblock%}

{%block content%} 
    
        <div style="display: flex; text-align: center;">
            <table border="1 solid black">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            경로
                        </th>
                        <th>
                            업로드 시간
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>i.id</td>
                        <td>i.path</td>
                        <td>i.upload_at</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <iframe src="http://10.0.66.136:81/stream"></iframe>
        
        <video width="600" controls>
            <source src="{% url 'stream_video' 'sample_video.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    <a href="{%url 'main'%}">뒤로 가기</a>
{%endblock%}