{% extends 'base.html' %}

{%block title%}
비디오 업로드
{%endblock%}

{% block head %} 

{%endblock%}


{%block content%}
    <iframe id="video" src="http://10.0.66.136:81/stream" width="640" height="480" frameborder="0"></iframe>
    <canvas id="video-canvas" ></canvas>
    <!-- 1분 영상 저장 버튼 -->
    <button id="save-video">1분 동안 영상 저장</button>
    <script>

        const videoElement = document.createElement('video');
        const canvas = document.getElementById('video-canvas');
        const context = canvas.getContext('2d');
        function connectWebSocket() {
        const socket = new WebSocket('ws://localhost:8000/ws/stream/');
        
        let mediaRecorder;
        let recordedChunks = [];
        let recording = false;

        socket.onopen = function(event) {
            console.log('WebSocket is open now.');
        };

        socket.onmessage = function(event) {
            const blob = new Blob([event.data], { type: 'image/jpeg' });
            const url = URL.createObjectURL(blob);
            videoElement.src = url;

            if (recording) {
                
                context.drawImage(videoElement, 0, 0, canvas.width, canvas.height);
                
                context.canvas.captureStream(30); 
            }
        };

        socket.onclose = function(event) {
            console.error('WebSocket closed:', event);
            setTimeout(() => {
                console.log('Attempting to reconnect...');
                connectWebSocket(); 
            }, 1000); 
                };

        socket.onerror = function(error) {
            console.error('WebSocket error:', error);
        };
        document.getElementById('save-video').addEventListener('click', saveVideo);

        function saveVideo() {
            if (!recording) {
                recordedChunks = []; 
                recording = true;

                const stream = canvas.captureStream(30); 
                mediaRecorder = new MediaRecorder(stream, { mimeType: 'video/webm; codecs=vp9' });

                mediaRecorder.ondataavailable = function(event) {
                    if (event.data.size > 0) {
                        recordedChunks.push(event.data);
                    }
                };

                mediaRecorder.onstop = function() {
                    const blob = new Blob(recordedChunks, { type: 'video/webm' });
                    const url = URL.createObjectURL(blob);
                    
                   uploadvideoToServer(blob);
                };

                mediaRecorder.start();
                console.log('Recording started.');

              
                setTimeout(function() {
                    mediaRecorder.stop();
                    recording = false;
                    console.log('Recording stopped.');
                    
                   
                    setTimeout(saveVideo, 1000);
                }, 60000); 
            }
        }

        function uploadvideoToServer(blob){
            const formData = new FormData();
            formData.append('video', blob, `recorded_video_${new Date().toISOString().slice(0, 19)}.webm`);

            fetch('/upload/',{
                method:'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('Video uploaded successfully:', data);
            })
            .catch(error => {
                console.error('Error uploading video:', error);
            });
                }

    }

    connectWebSocket();
    </script>
    

    
{%endblock%}